.body{
    background-color: #1D122C;
}

h1{
    color: #D9303E;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

h3{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 50px;
}

.div-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}

.btn-contactame{
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #D9303E;
}

.btn-contactame:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
   
.btn-contactame:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
   
.btn-contactame::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
   
.btn-contactame::after {
    background-color: #D9303E;
}
   
.btn-contactame:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.block-top{
    background-color: #DEC3FF;
    height: 220px;
    width: 550px;
    margin-left: 5%;
    border-radius: 20px;
}

.imag{
    padding-top: 40px;
    text-align: center;
    padding-bottom: 100px;
    border-color: white;
}
    
.cont-img{
    background-color: #D9303E;
    border-color: white;
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

.btn-HMP{
    font-size: 17px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    height: 45px;
    width: 400px;
    border: 2.5px solid;
    transition: 0.3s all;
    background-color: #EDECFF;
    background-size: 500% 200%;
    background-position: 25% 50%;
    font-family: inherit;
    font-weight: 500;
}
   
.btn-HMP:hover {
    box-shadow: none;
    background-color: #1D122C;
    color: rgb(255, 255, 255);
    animation: rainbow 1s 1;
    transform: scale(1.13);
    border-radius: 30px;
    background-position: 70% 50%;
}
  
.btn-HMP:active {
    transform: scale(1.2);
}

